In [1]:
from root_pandas import read_root

Welcome to JupyROOT 6.09/05

In [2]:
df = read_root('data/step1_phores/output_mumug_2016_flat.root', 'hzg_gluglu')

In [3]:
df.head()

,runNumber,evtNumber,lumiSection,triggerStatus,eventWeight,puWeight,genWeight,triggerWeight,nPV,nPU,...,lepEta2,maxdRlg,dRlg,phores,lepEta1,costheta,Phi,phoEta,phoR9,cosTheta
0,1,409,3,True,0.000605,1.017936,1,0.957305,13,23.817507,...,-0.778666,2.640920,1.329150,0.017461,-1.160280,-0.462869,2.196350,-2.244930,0.968168,-0.977102
1,1,421,3,True,0.000621,0.927596,1,0.964479,23,33.808418,...,-0.275360,0.732805,0.622081,0.006276,-1.247800,0.527612,0.696704,-0.539328,0.948081,-0.266791
2,1,430,3,True,0.000678,1.035952,1,0.966675,17,21.406183,...,1.248230,2.399940,0.857368,0.006971,0.861102,0.731219,-0.834076,0.600385,0.945719,0.032637
3,1,435,3,True,0.000677,1.033313,1,0.973959,20,22.765772,...,-1.012110,1.951810,0.411395,0.009048,-1.795340,0.918897,1.700230,-0.872261,0.927887,0.143859
4,1,438,3,True,0.000630,1.015173,1,0.957413,18,23.877895,...,0.064213,2.955910,1.413170,0.008055,-1.123690,0.333009,-0.189901,-1.330370,0.955109,-0.796579

In [5]:
df[['costheta', 'zgLittleTheta']].head()

   costheta  zgLittleTheta
0 -0.462869       0.145055
1  0.527612       0.833145
2  0.731219      -0.210753
3  0.918897      -0.732116
4  0.333009       0.752668

In [6]:
df[['cosTheta', 'zgBigTheta']].head()

   cosTheta  zgBigTheta
0 -0.977102   -0.976447
1 -0.266791   -0.264268
2  0.032637    0.032533
3  0.143859    0.145714
4 -0.796579   -0.795377

In [7]:
df[['mllgptdmllg', 'llgPtOverM']].head()

   mllgptdmllg  llgPtOverM
0     0.260091    0.257582
1     1.915210    1.912006
2     0.296518    0.297014
3     0.659262    0.658214
4     0.182484    0.183279

In [8]:
df[['lepEta1', 'leptonOneEta']].head()

    lepEta1  leptonOneEta
0 -1.160280     -1.160276
1 -1.247800     -1.247803
2  0.861102      0.861102
3 -1.795340     -1.795338
4 -1.123690     -1.123689

In [9]:
df[['lepEta2', 'leptonTwoEta']].head()

    lepEta2  leptonTwoEta
0 -0.778666     -0.778666
1 -0.275360     -0.275360
2  1.248230      1.248235
3 -1.012110     -1.012106
4  0.064213      0.064213

In [10]:
df[['phoEta', 'photonOneEta']].head()

     phoEta  photonOneEta
0 -2.244930     -2.244933
1 -0.539328     -0.539328
2  0.600385      0.600385
3 -0.872261     -0.872261
4 -1.330370     -1.330368

In [12]:
df[['Phi', 'zgPhi']].head()

        Phi     zgPhi
0  2.196350  2.201960
1  0.696704  0.696638
2 -0.834076  2.307867
3  1.700230 -1.441275
4 -0.189901 -0.189411

In [13]:
df[['phoR9', 'photonOneR9']].head()

      phoR9  photonOneR9
0  0.968168     0.963153
1  0.948081     0.948081
2  0.945719     0.945719
3  0.927887     0.927887
4  0.955109     0.955109

In [14]:
df[['dRlg', 'lPhotonDRMin']].head()

       dRlg  lPhotonDRMin
0  1.329150      1.329145
1  0.622081      0.622081
2  0.857368      0.857368
3  0.411395      0.411395
4  1.413170      1.413173

In [15]:
df[['maxdRlg', 'lPhotonDRMax']].head()

    maxdRlg  lPhotonDRMax
0  2.640920      2.640917
1  0.732805      0.732805
2  2.399940      2.399940
3  1.951810      1.951810
4  2.955910      2.955905

In [16]:
df = read_root('data/step2_kin_bdt/output_mumug_2016_flat.root', 'hzg_gluglu')

In [19]:
for column in df.columns:
    print(column)

runNumber
evtNumber
lumiSection
triggerStatus
eventWeight
puWeight
genWeight
triggerWeight
nPV
nPU
nPartons
xPV
yPV
zPV
met
metPhi
metNC
metPhiNC
ht
htPhi
htSum
leptonOnePt
leptonOneEta
leptonOnePhi
leptonOnePtKin
leptonOneIso
leptonOneFlavor
leptonOneMother
leptonOneD0
leptonOneDZ
leptonOneRecoWeight
leptonTwoPt
leptonTwoEta
leptonTwoPhi
leptonTwoPtKin
leptonTwoIso
leptonTwoFlavor
leptonTwoMother
leptonTwoD0
leptonTwoDZ
leptonTwoRecoWeight
tauDecayMode
tauMVA
isLeptonTag
isDijetTag
photonOnePt
photonOneEta
photonOnePhi
photonOneR9
photonOneMVA
photonOneERes
passElectronVeto
jetOnePt
jetOneEta
jetOnePhi
jetOneTag
jetTwoPt
jetTwoEta
jetTwoPhi
jetTwoTag
genLeptonOnePt
genLeptonOneEta
genLeptonOnePhi
genLeptonOneId
genLeptonTwoPt
genLeptonTwoEta
genLeptonTwoPhi
genLeptonTwoId
genPhotonPt
genPhotonEta
genPhotonPhi
genPhotonFHPFS
genPhotonIPFS
vetoDY
nMuons
nElectrons
nTaus
nPhotons
nJets
nFwdJets
nCentralJets
nBJets
dileptonPt
dileptonEta
dileptonPhi
dileptonM
dileptonDEta
dileptonDPhi
dileptonDR
dileptonMKin
dijetPt
dijetEta
dijetPhi
dijetM
dijetDEta
dijetDPhi
dijetDR
l1j1DEta
l1j1DPhi
l1j1DR
l1j2DEta
l1j2DPhi
l1j2DR
l2j1DEta
l2j1DPhi
l2j1DR
l2j2DEta
l2j2DPhi
l2j2DR
j1PhotonDEta
j1PhotonDPhi
j1PhotonDR
j2PhotonDEta
j2PhotonDPhi
j2PhotonDR
jPhotonDRMax
jPhotonDRMin
llgPt
llgEta
llgPhi
llgM
llgPtOverM
llgMKin
l1PhotonDEta
l1PhotonDPhi
l1PhotonDR
l2PhotonDEta
l2PhotonDPhi
l2PhotonDR
lPhotonDRMax
lPhotonDRMin
dileptonPhotonDEta
dileptonPhotonDPhi
dileptonPhotonDR
ptt
zgBigTheta
zgLittleTheta
zgPhi
genBigTheta
genLittleTheta
genPhi
llgJJDEta
llgJJDPhi
llgJJDR
zepp
mllgptdmllg
lepEta2
maxdRlg
dRlg
phores
lepEta1
costheta
Phi
phoEta
phoR9
cosTheta
kin_bdt

In [21]:
df.jetTwoPt

0         48.142239
1         30.825359
2         42.126675
3         46.607338
4         49.462334
5         30.007399
6         52.916714
7         36.469418
8         45.402889
9         40.396561
10        38.942863
11        43.794632
12         0.000000
13        52.357655
14       113.408463
15        40.515835
16        43.539604
17        45.709663
18        37.975563
19         0.000000
20        37.919292
21        50.433964
22        39.248302
23        47.415627
24        82.371056
25        61.637089
26        42.819130
27        37.909782
28        32.134460
29        38.692547
            ...
44066     52.766460
44067     36.858894
44068     71.612740
44069     65.296120
44070     53.065548
44071     52.593884
44072     39.194992
44073     42.913986
44074     52.541534
44075     54.637199
44076     38.254227
44077    155.262375
44078     54.384731
44079     47.599968
44080     39.883572
44081     51.077843
44082     36.955891
44083     33.329559
44084     38.490765
44085      0.000000
44086     39.036461
44087     57.346489
44088     36.831539
44089     47.274559
44090     54.076790
44091     54.430092
44092     43.341587
44093     39.455429
44094     40.731243
44095     69.102242
Name: jetTwoPt, Length: 44096, dtype: float32